* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carousel {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container {
    flex-basis: 800px;
}

.arrow {
    margin: 0 16px;
}

.arrow i {
    color: #444;
    font-size: 48px;
}

.img-container img {
    display: none;
}

.img-container img.active {
    display: block;
}

